# Node.js
node_modules/

# Build
dist/
build/

# Dependency management
package-lock.json
yarn.lock

# IDE
.vscode/
.idea/
.history

# Logs
logs/
*.log

# Compiled files
*.min.js
*.min.css

# Temporary files
*.tmp
*.temp

# Miscellaneous
.DS_Store
Thumbs.db